<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CV Aditya Fajar - No CSS</title>
</head>
<body>
<div id="page" class="container">
	<div id="main">
		<div class="title">
			<h2>Hello, i'm Aditya Fajar Anugrah</h2>
			<span>Junior Programmer, nice to meet you!</span>
        </div>
    </div>

    <section class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Experiences</h2>
            </div>
            <ul>
                <li>
                    <div class="timeline-heading">
                        <h4>October 2018 - Present: </h4>
                        <h5 class="subheading">Open University Indonesia</h5>
                        <h6 class="subheading">Information & Communication Technology Staff</h6>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-heading">
                        <h4>February 2018 - April 2018</h4>
                        <h5 class="subheading">Southeast Asian Minister of Education Organization Regional Open Learning Centre</h5>
                        <h6 class="subheading">IT Content & Knowledge Managemen Division (Field Practice/Internship)</h6>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <br>
    <section class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Education & Organization</h2>
            </div>
            <ul>
                <li>
                    <div class="timeline-heading">
                        <h4>2015-2018</h4>
                        <h5 class="subheading">Institut Pertanian Bogor (Informatic Management)</h5>
                        <h6 class="subheading">HIMAVO Micro IT Community (Software, Hardware, & Networking Member)</h6>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-heading">
                        <h4>February 2018 - April 2018</h4>
                        <h5 class="subheading">SMAN 7 Bogor</h5>
                        <h6 class="subheading">Student Council (English Division Member) & Paskibraka PKM 7 (Main member)</h6>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <br>
    <section class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Hobbies</h2>
            </div>
            <h3>Gaming, Drawing, Singing</h3>
        </div>
    </section>
</div>
</body>
</html>